# --- Python ---
__pycache__/
*.py[cod]
*$py.class
schema.json
# --- Django ---
*.log
*.pot
*.pyc
db.sqlite3
/media
/staticfiles
/static

# --- Environment & Config ---
.env
.env.*
*.secret
/secrets.json

# --- Celery ---
celerybeat-schedule
celerybeat.pid

# --- VSCode / PyCharm ---
.vscode/
.idea/
*.iml

# --- OS junk ---
.DS_Store
Thumbs.db

# --- Poetry ---
poetry.lock
.venv/
.cache/
*.egg-info/
dist/
build/

# --- Docker ---
/volumes
*.pid
*.sock

# --- Tests ---
.coverage
htmlcov/
.tox/
.pytest_cache/
